<?xml version="1.0" encoding="utf-8" ?>
<configuration>    
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RadioRecorder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>    
    <userSettings>
        <RadioRecorder.Properties.Settings>
            <setting name="番组表" serializeAs="String">
                <value>http://agqr.jp/timetable/streaming.php</value>
            </setting>
            <setting name="BgmPath" serializeAs="String">
                <value>Bangumi.xml</value>
            </setting>
            <setting name="TaskPath" serializeAs="String">
                <value>Task.xml</value>
            </setting>
            <setting name="默认路径" serializeAs="String">
                <value>E:\Radio</value>
            </setting>
            <setting name="默认格式" serializeAs="String">
                <value>{0:yyyyMMdd}-{1}.flv</value>
            </setting>
            <setting name="RTMP" serializeAs="String">
                <value>rtmp://fms-base2.mitene.ad.jp/agqr/aandg11</value>
            </setting>
            <setting name="CmdPath" serializeAs="String">
                <value>Cmd.xml</value>
            </setting>
            <setting name="HBKFormat" serializeAs="String">
                <value>{0}-{1}-{2}.flv</value>
            </setting>
            <setting name="RTMPE" serializeAs="String">
                <value>rtmpe://cp209391.edgefcs.net/ondemand/</value>
            </setting>
            <setting name="窗体宽" serializeAs="String">
                <value>650</value>
            </setting>
            <setting name="窗体高" serializeAs="String">
                <value>460</value>
            </setting>
            <setting name="前后时间" serializeAs="String">
                <value>60,30</value>
            </setting>
            <setting name="最小化到托盘" serializeAs="String">
                <value>False</value>
            </setting>
        </RadioRecorder.Properties.Settings>
    </userSettings>
</configuration>